*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
 }
 body{
    background-color: #D5E1EF;
 }
 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
 }
 .box{
    background-color:  hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    border-radius: 20px;
    filter: drop-shadow(rgba(152, 150, 150, 0.322) 1rem 1rem 10px);
 }
.img{
    padding: 1em;
    width: 100%;
}
 img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
 }
 .text{
    text-align: center;
    padding: 0 2em;
 }
 .text h1{
    font-size: 22px;
    font-weight: 700;
    color: #1F314F;
    margin-bottom: 0.5em;
    line-height: 1.4em;
 }
 .text p{
   
    font-size: 15px;
    font-weight:normal;
    color: #7D889E;
    letter-spacing: 0.19px;
    line-height: 1.4em;
 }

 .attribution{
    text-align: center;
 }